Repository acrlabs/simkube: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-k8s, check-validation-readme

check-k8s:
  name: Check Generated K8s YAML
  language: system
  entry: bash -c 'make kustomize && git diff --quiet'
  pass_filenames: false

check-validation-readme:
  name: Check Validation README
  language: system
  entry: bash -c 'make validation_rules && git diff --quiet'
  pass_filenames: false

fix: export_all off-by-one error
  sk-store/src/event_list.rs
  sk-store/src/store.rs
  sk-store/src/tests/trace_store_test.rs
Due: none

refactor: use Option<&String> for duration
  sk-cli/src/validation/annotated_trace.rs
  sk-driver/src/main.rs
  sk-driver/src/tests/runner_test.rs
  sk-store/src/store.rs
  sk-store/src/tests/import_export_test.rs
  sk-store/src/tests/trace_store_test.rs
Due: check-validation-readme

release: version v2.3.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  k8s/kustomize/prod/sk-tracer.yml
  k8s/kustomize/sim/sk-ctrl.yml
Due: check-k8s

docs: update skctl CLI and sk-tracer docs
  docs/components/sk-tracer.md
  docs/components/skctl.md
Due: none

fix: parse .. in local paths
  Cargo.lock
  Cargo.toml
  sk-cli/src/main.rs
  sk-core/src/external_storage.rs
Due: check-k8s

ci: pin nightly version
  .github/workflows/verify.yml
Due: none

ci: pin nightly version
  .github/workflows/verify.yml
  .pre-commit-config.yaml
  docs/dev/setup.md
  hack/fmt
Due: none

fix: parse .. in local paths
  Cargo.lock
  Cargo.toml
  sk-core/src/external_storage.rs
Due: check-k8s

chore: update deps and rust to 1.88
  .github/actions/setup-builder/action.yml
  .github/workflows/verify.yml
  Cargo.lock
  Cargo.toml
  Makefile
  docs/dev/setup.md
  docs/intro/installation.md
  sk-cli/src/export.rs
  sk-cli/src/validation/annotated_trace.rs
  sk-cli/src/validation/rules/missing_resources.rs
  sk-cli/src/validation/rules/tests/missing_resources_test.rs
  sk-cli/src/validation/tests/annotated_trace_test.rs
  sk-cli/src/xray/view/helpers.rs
  sk-core/Cargo.toml
  sk-core/src/errors.rs
  sk-core/src/time.rs
  sk-ctrl/src/objects.rs
  sk-store/src/watchers/mod.rs
Due: check-k8s, check-validation-readme

refactor: gimme those sweet sweet let chains
  sk-cli/src/validation/rules/missing_resources.rs
  sk-cli/src/xray/event.rs
  sk-cli/src/xray/view/mod.rs
  sk-store/src/config.rs
Due: check-validation-readme

chore: update to rust 2024
  Cargo.toml
  sk-cli/src/completions.rs
  sk-cli/src/main.rs
  sk-cli/src/validation/annotated_trace.rs
  sk-cli/src/validation/mod.rs
  sk-cli/src/validation/rules/tests/missing_resources_test.rs
  sk-cli/src/validation/rules/tests/mod.rs
  sk-cli/src/validation/summary.rs
  sk-cli/src/validation/tests/annotated_trace_test.rs
  sk-cli/src/xray/event.rs
  sk-cli/src/xray/mod.rs
  sk-core/src/external_storage.rs
  sk-core/src/hooks.rs
  sk-core/src/k8s/apiset.rs
  sk-core/src/k8s/gvk.rs
  sk-core/src/k8s/lease.rs
  sk-core/src/k8s/owners.rs
  sk-core/src/k8s/pod_lifecycle.rs
  sk-core/src/k8s/tests/lease_test.rs
  sk-core/src/k8s/tests/util_test.rs
  sk-ctrl/src/controller.rs
  sk-ctrl/src/main.rs
  sk-ctrl/src/tests/controller_test.rs
  sk-ctrl/src/tests/objects_test.rs
  sk-driver/src/mutation.rs
  sk-driver/src/runner.rs
  sk-driver/src/tests/runner_test.rs
  sk-driver/src/tests/util_test.rs
  sk-store/src/index.rs
  sk-store/src/lib.rs
  sk-store/src/pod_owners_map.rs
  sk-store/src/store.rs
  sk-store/src/tests/import_export_test.rs
  sk-store/src/tests/pod_owners_map_test.rs
  sk-store/src/watchers/dyn_obj_watcher.rs
  sk-store/src/watchers/mod.rs
  sk-store/src/watchers/pod_watcher.rs
Due: check-k8s, check-validation-readme

refactor: handlers create watchers
  sk-cli/src/snapshot.rs
  sk-store/src/tests/import_export_test.rs
  sk-store/src/watchers/dyn_obj_watcher.rs
  sk-store/src/watchers/mod.rs
  sk-store/src/watchers/pod_watcher.rs
  sk-store/src/watchers/tests/mod.rs
  sk-store/src/watchers/tests/pod_watcher_test.rs
  sk-tracer/src/main.rs
Due: none

refactor: owners cache stores gvk
  sk-core/src/k8s/mod.rs
  sk-core/src/k8s/owners.rs
  sk-core/src/k8s/tests/owners_test.rs
  sk-driver/src/mutation.rs
  sk-driver/src/tests/mutation_test.rs
  sk-store/src/watchers/pod_watcher.rs
  sk-store/src/watchers/tests/pod_watcher_test.rs
Due: check-k8s

refactor: remove 'initialized' from EventHandlers
  sk-core/src/k8s/pod_lifecycle.rs
  sk-store/src/lib.rs
  sk-store/src/store.rs
  sk-store/src/tests/trace_store_test.rs
  sk-store/src/watchers/dyn_obj_watcher.rs
  sk-store/src/watchers/mod.rs
  sk-store/src/watchers/pod_watcher.rs
  sk-store/src/watchers/tests/mod.rs
  sk-store/src/watchers/tests/pod_watcher_test.rs
Due: check-k8s

refactor: introduce TraceManager
  sk-cli/src/main.rs
  sk-cli/src/snapshot.rs
  sk-store/Cargo.toml
  sk-store/src/event.rs
  sk-store/src/iter.rs
  sk-store/src/lib.rs
  sk-store/src/manager.rs
  sk-store/src/store.rs
  sk-store/src/tests/import_export_test.rs
  sk-store/src/watchers/dyn_obj_watcher.rs
  sk-store/src/watchers/mod.rs
  sk-store/src/watchers/pod_watcher.rs
  sk-store/src/watchers/tests/mod.rs
  sk-tracer/src/main.rs
  sk-tracer/src/tests/tracer_test.rs
Due: check-k8s

feat: communicate with TraceStore over channels
  Cargo.lock
  sk-cli/src/snapshot.rs
  sk-cli/src/validation/annotated_trace.rs
  sk-driver/Cargo.toml
  sk-driver/src/main.rs
  sk-driver/src/mutation.rs
  sk-driver/src/runner.rs
  sk-driver/src/tests/helpers.rs
  sk-driver/src/tests/mutation_test.rs
  sk-driver/src/tests/runner_test.rs
  sk-store/Cargo.toml
  sk-store/src/event.rs
  sk-store/src/iter.rs
  sk-store/src/lib.rs
  sk-store/src/manager.rs
  sk-store/src/pod_owners_map.rs
  sk-store/src/store.rs
  sk-store/src/tests/exported_trace_test.rs
  sk-store/src/tests/import_export_test.rs
  sk-store/src/tests/mod.rs
  sk-store/src/tests/pod_owners_map_test.rs
  sk-store/src/tests/trace_store_test.rs
  sk-store/src/trace.rs
  sk-store/src/watchers/dyn_obj_watcher.rs
  sk-store/src/watchers/mod.rs
  sk-store/src/watchers/pod_watcher.rs
  sk-store/src/watchers/tests/mod.rs
  sk-store/src/watchers/tests/pod_watcher_test.rs
  sk-tracer/Cargo.toml
  sk-tracer/src/main.rs
  sk-tracer/src/tests/tracer_test.rs
Due: check-k8s, check-validation-readme

fix: improve driver logging
  sk-driver/src/runner.rs
Due: none

refactor: abstract dynobjhandler/podhandler creation
  sk-cli/src/snapshot.rs
  sk-store/src/tests/import_export_test.rs
  sk-store/src/watchers/dyn_obj_watcher.rs
  sk-store/src/watchers/mod.rs
  sk-store/src/watchers/pod_watcher.rs
  sk-store/src/watchers/tests/mod.rs
  sk-store/src/watchers/tests/pod_watcher_test.rs
  sk-tracer/src/main.rs
Due: none

fix: owners cache stores gvk
  sk-core/src/k8s/mod.rs
  sk-core/src/k8s/owners.rs
  sk-core/src/k8s/tests/owners_test.rs
  sk-driver/src/mutation.rs
  sk-driver/src/tests/mutation_test.rs
  sk-store/src/watchers/pod_watcher.rs
  sk-store/src/watchers/tests/pod_watcher_test.rs
Due: check-k8s

refactor: remove 'initialized' from EventHandlers
  Cargo.lock
  sk-core/src/k8s/pod_lifecycle.rs
  sk-store/Cargo.toml
  sk-store/src/lib.rs
  sk-store/src/store.rs
  sk-store/src/tests/trace_store_test.rs
  sk-store/src/watchers/dyn_obj_watcher.rs
  sk-store/src/watchers/mod.rs
  sk-store/src/watchers/pod_watcher.rs
  sk-store/src/watchers/tests/mod.rs
  sk-store/src/watchers/tests/pod_watcher_test.rs
Due: check-k8s

feat: communicate with TraceStore over channels
  Cargo.lock
  sk-cli/src/snapshot.rs
  sk-cli/src/validation/annotated_trace.rs
  sk-driver/Cargo.toml
  sk-driver/src/main.rs
  sk-driver/src/mutation.rs
  sk-driver/src/runner.rs
  sk-driver/src/tests/helpers.rs
  sk-driver/src/tests/mutation_test.rs
  sk-driver/src/tests/runner_test.rs
  sk-store/Cargo.toml
  sk-store/src/event.rs
  sk-store/src/iter.rs
  sk-store/src/lib.rs
  sk-store/src/manager.rs
  sk-store/src/pod_owners_map.rs
  sk-store/src/store.rs
  sk-store/src/tests/exported_trace_test.rs
  sk-store/src/tests/import_export_test.rs
  sk-store/src/tests/manager_test.rs
  sk-store/src/tests/mod.rs
  sk-store/src/tests/pod_owners_map_test.rs
  sk-store/src/tests/trace_store_test.rs
  sk-store/src/trace.rs
  sk-store/src/watchers/dyn_obj_watcher.rs
  sk-store/src/watchers/mod.rs
  sk-store/src/watchers/pod_watcher.rs
  sk-store/src/watchers/tests/mod.rs
  sk-store/src/watchers/tests/pod_watcher_test.rs
  sk-tracer/Cargo.toml
  sk-tracer/src/main.rs
  sk-tracer/src/tests/tracer_test.rs
  testutils/Cargo.toml
Due: check-k8s, check-validation-readme

chore: remove cargo check
  .pre-commit-config.yaml
Due: none

refactor: move ownerscache to tracestore
  sk-cli/src/snapshot.rs
  sk-core/src/k8s/owners.rs
  sk-core/src/k8s/tests/owners_test.rs
  sk-driver/src/mutation.rs
  sk-store/src/manager.rs
  sk-store/src/store.rs
  sk-store/src/tests/import_export_test.rs
  sk-store/src/tests/manager_test.rs
  sk-store/src/tests/trace_store_test.rs
  sk-store/src/watchers/dyn_obj_watcher.rs
  sk-store/src/watchers/pod_watcher.rs
  sk-store/src/watchers/tests/pod_watcher_test.rs
  sk-tracer/src/main.rs
  sk-tracer/src/tests/tracer_test.rs
  testutils/src/constants.rs
  testutils/src/pods.rs
Due: check-k8s

feat: exported trace doesn't include objects owned by tracked objects
  sk-cli/src/snapshot.rs
  sk-core/src/k8s/owners.rs
  sk-core/src/k8s/tests/owners_test.rs
  sk-core/src/k8s/tests/util_test.rs
  sk-core/src/k8s/util.rs
  sk-store/src/filter.rs
  sk-store/src/index.rs
  sk-store/src/lib.rs
  sk-store/src/store.rs
  sk-store/src/tests/import_export_test.rs
  sk-store/src/tests/trace_store_test.rs
  sk-tracer/src/main.rs
  testutils/src/constants.rs
  testutils/src/pods.rs
Due: check-k8s

Path conditions:
  check-k8s: any of: sk-api/.*|k8s/.*|Cargo.toml
  check-validation-readme: any of: sk-cli/src/validation/.*
