Repository acrlabs/simkube: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-k8s, check-validation-readme

check-k8s:
  name: Check Generated K8s YAML
  language: system
  entry: bash -c 'make kustomize && git diff --quiet'
  pass_filenames: false

check-validation-readme:
  name: Check Validation README
  language: system
  entry: bash -c 'make validation_rules && git diff --quiet'
  pass_filenames: false

fix: error messages don't stacktrace for 'recoverable' tracer errors
  sk-store/src/watchers/mod.rs
  sk-store/src/watchers/pod_watcher.rs
Due: none

chore: bump codecov version
  .github/workflows/verify.yml
Due: none

fix: allow multiple podSpecTemplatePaths to be specified
  config/tracer-config.yml
  docs/adv/config.md
  docs/components/sk-tracer.md
  docs/intro/running.md
  examples/traces/cronjob.sktrace
  examples/traces/dsb-scaling.sktrace
  k8s/kustomize/prod/sk-tracer.yml
  sk-cli/src/main.rs
  sk-cli/src/validation/rules/missing_resources.rs
  sk-cli/src/validation/rules/tests/missing_resources_test.rs
  sk-cli/src/validation/rules/tests/mod.rs
  sk-core/src/logging.rs
  sk-driver/src/runner.rs
  sk-driver/src/tests/runner_test.rs
  sk-store/src/config.rs
  sk-store/src/tests/trace_store_test.rs
  testutils/data/large_trace.json
  testutils/data/trace.json
  testutils/data/validation_trace.json
  testutils/src/objs.rs
Due: check-k8s, check-validation-readme

chore: build script updates
  Makefile
Due: none

release: version v2.2.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  k8s/kustomize/prod/sk-tracer.yml
  k8s/kustomize/sim/sk-ctrl.yml
Due: check-k8s

must be described to push
  sk-gen/src/main.rs
Due: none

must be described to push
  sk-gen/src/main.rs
  sk-gen/src/output.rs
Due: none

chore: update SimKube documentation links
  Cargo.toml
  README.md
Due: check-k8s

refactor: move some fields around, show more columns on the CLI
  Cargo.lock
  k8s/kustomize/sim/simkube.io_simulations.yml
  k8s/raw/simkube.io_simulations.yml
  sk-api/src/v1/simulations.rs
  sk-cli/src/run.rs
  sk-ctrl/Cargo.toml
  sk-ctrl/src/controller.rs
  sk-ctrl/src/tests/controller_test.rs
  sk-driver/src/tests/helpers.rs
  sk-driver/src/util.rs
  testutils/src/sim.rs
Due: check-k8s

feat: add Paused field to the simulation spec + driver handlers
  Cargo.lock
  Cargo.toml
  Makefile
  k8s/kustomize/sim/simkube.io_simulations.yml
  k8s/raw/simkube.io_simulations.yml
  sk-api/src/v1/simulations.rs
  sk-cli/src/run.rs
  sk-cli/src/snapshot.rs
  sk-core/Cargo.toml
  sk-core/src/k8s/lease.rs
  sk-core/src/k8s/tests/lease_test.rs
  sk-ctrl/src/controller.rs
  sk-ctrl/src/tests/controller_test.rs
  sk-driver/src/main.rs
  sk-driver/src/mutation.rs
  sk-driver/src/runner.rs
  sk-driver/src/tests/helpers.rs
  sk-driver/src/tests/mod.rs
  sk-driver/src/tests/mutation_test.rs
  sk-driver/src/tests/runner_test.rs
  sk-driver/src/tests/snapshots/sk_driver__tests__mutation_test__itest__mutate_pod@true.snap
  sk-driver/src/tests/util_test.rs
  sk-driver/src/util.rs
  sk-store/src/lib.rs
  sk-store/src/store.rs
  sk-store/src/watchers/mod.rs
  testutils/src/fake.rs
  testutils/src/sim.rs
Due: check-k8s

feat: add pause/resume commands to the CLI
  Cargo.lock
  sk-cli/Cargo.toml
  sk-cli/src/delete.rs
  sk-cli/src/main.rs
  sk-cli/src/pauseresume.rs
  sk-cli/src/run.rs
  sk-cli/src/snapshot.rs
Due: check-k8s

chore: fix nextest rebuilds
  .cargo/config.toml
  Makefile
Due: none

feat: pass in driver args via simulation spec
  Cargo.lock
  k8s/kustomize/sim/simkube.io_simulations.yml
  k8s/raw/simkube.io_simulations.yml
  sk-api/src/v1/simulations.rs
  sk-cli/src/run.rs
  sk-ctrl/Cargo.toml
  sk-ctrl/src/main.rs
  sk-ctrl/src/objects.rs
  sk-ctrl/src/tests/mod.rs
  sk-ctrl/src/tests/objects_test.rs
  sk-driver/src/main.rs
  testutils/src/sim.rs
Due: check-k8s

feat: skip local volume mount flag
  sk-cli/src/run.rs
  sk-core/src/constants.rs
  sk-ctrl/src/objects.rs
  sk-ctrl/src/tests/objects_test.rs
Due: none

chore: publish to crates.io
  .github/workflows/release.yml
Due: none

release: version v2.3.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  k8s/kustomize/prod/sk-tracer.yml
  k8s/kustomize/sim/sk-ctrl.yml
Due: check-k8s

fix: show GVK in driver logs
  sk-core/src/k8s/util.rs
  sk-driver/src/runner.rs
  sk-store/src/event_list.rs
Due: check-k8s

fix: show truncated stack trace on driver failure
  sk-core/src/errors.rs
  sk-driver/src/main.rs
Due: none

fix: add aliases for skctl subcommands
  sk-cli/src/main.rs
Due: none

fix: export_all off-by-one error
  sk-store/src/event_list.rs
  sk-store/src/store.rs
  sk-store/src/tests/trace_store_test.rs
Due: none

Path conditions:
  check-k8s: any of: sk-api/.*|k8s/.*|Cargo.toml
  check-validation-readme: any of: sk-cli/src/validation/.*
