Repository acrlabs/simkube: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, check-k8s, check-validation-readme

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: python-path
        name: check python path
        language: system
        entry: bash -c "which python || which python3"
        always_run: true
        exclude: ".*"
        verbose: true
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: "https://github.com/adrienverge/yamllint"
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['--strict']
        exclude: "config/metrics"
  - repo: "https://github.com/doublify/pre-commit-rust"
    rev: v1.0
    hooks:
      - id: clippy
        args:
          - --target-dir
          - /tmp/cargo
          - --
          - -Dwarnings
          - -Aclippy::new_without_default
  - repo: local
    hooks:
      - id: fmt
        name: rust-fmt
        language: system
        entry: hack/fmt
        files: \.rs
  - repo: "https://github.com/pre-commit/mirrors-mypy"
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: "https://github.com/astral-sh/ruff-pre-commit"
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: "https://github.com/EmbarkStudios/cargo-deny"
    rev: 0.18.5
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "licenses"]
  - repo: local
    hooks:
      - id: check-k8s
        name: Check Generated K8s YAML
        language: system
        entry: bash -c 'make kustomize && git diff --quiet'
        pass_filenames: false
        files: "sk-api/.*|k8s/.*|Cargo.toml"
      - id: check-validation-readme
        name: Check Validation README
        language: system
        entry: bash -c 'make validation_rules && git diff --quiet'
        pass_filenames: false
        files: "sk-cli/src/validation/.*"

add simkube e2e workflow
  .github/workflows/simkube_e2e.yml
Due: none

add IN_CI=true env var
  .github/workflows/simkube_e2e.yml
Due: none

update launch-runner action
  .github/workflows/simkube_e2e.yml
Due: none

fix launch-runner call
  .github/workflows/simkube_e2e.yml
Due: none

update ami id
  .github/workflows/simkube_e2e.yml
Due: none

add verify image step
  .github/workflows/simkube_e2e.yml
Due: none

add latest runner AMI
  .github/workflows/simkube_e2e.yml
Due: none

explicitly add .local/bin to PATH
  .github/workflows/simkube_e2e.yml
Due: none

update AMI ref
  .github/workflows/simkube_e2e.yml
Due: none

change instance type, add todo, add .DS_Store to .gitignore
  .github/workflows/simkube_e2e.yml
  .gitignore
Due: none

add e2e test using simkube-ci-action
  .github/workflows/simkube_e2e.yml
  .gitignore
Due: none

WIP: skel parser
  Cargo.lock
  Cargo.toml
  sk-cli/Cargo.toml
  sk-cli/src/main.rs
  sk-cli/src/skel/ast.rs
  sk-cli/src/skel/mod.rs
  sk-cli/src/skel/skel.pest
  sk-cli/src/skel/tests/ast_test.rs
  sk-cli/src/skel/tests/mod.rs
  sk-cli/src/skel/tests/parser_test.rs
Due: fmt, check-k8s

fix: apply node selector and tolerations to parent objects
  Cargo.lock
  sk-driver/Cargo.toml
  sk-driver/src/mutation.rs
  sk-driver/src/runner.rs
  sk-driver/src/tests/mod.rs
  sk-driver/src/tests/mutation_test.rs
  sk-driver/src/tests/runner_test.rs
  testutils/src/objs.rs
Due: fmt, check-k8s

release: version v2.4.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  k8s/kustomize/prod/sk-tracer.yml
  k8s/kustomize/sim/sk-ctrl.yml
Due: check-k8s

fix: don't overwrite existing tolerations
  sk-driver/src/runner.rs
  sk-driver/src/tests/runner_test.rs
Due: fmt

release: version v2.4.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  k8s/kustomize/prod/sk-tracer.yml
  k8s/kustomize/sim/sk-ctrl.yml
Due: check-k8s

ami docs
  docs/infra/actions.md
  docs/infra/amis.md
  docs/infra/github-runners.md
  docs/infra/overview.md
  docs/infra/usage.md
  docs/mkdocs.yml
Due: none

docs updates
  docs/infra/amis.md
Due: none

docs
  docs/infra/actions.md
  docs/infra/amis.md
  docs/infra/ci-sim.md
  docs/infra/github-runners.md
  docs/infra/overview.md
  docs/infra/run-sim.md
Due: none

more docs
  docs/infra/amis.md
  docs/infra/ci-sim.md
  docs/infra/github-runners.md
  docs/infra/overview.md
  docs/infra/run-sim.md
  docs/infra/usage.md
Due: none

...more
  docs/infra/amis.md
  docs/infra/ci-sim.md
  docs/infra/github-runners.md
  docs/infra/overview.md
  docs/infra/run-sim.md
  docs/infra/usage.md
Due: none

docs: initial SKEL documentation
  docs/components/sk-tracer.md
  docs/intro/installation.md
  docs/mkdocs.yml
  docs/ref/skel.md
  docs/ref/trace-files.md
  docs/skel/intro.md
  docs/skel/usage.md
  examples/sanitize.skel
Due: none

feat: initial code for SKEL parser; supports remove
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  sk-cli/Cargo.toml
  sk-cli/src/main.rs
  sk-cli/src/skel/ast.rs
  sk-cli/src/skel/engine.rs
  sk-cli/src/skel/mod.rs
  sk-cli/src/skel/skel.pest
  sk-cli/src/skel/tests/ast_test.rs
  sk-cli/src/skel/tests/engine_test.rs
  sk-cli/src/skel/tests/itest.rs
  sk-cli/src/skel/tests/mod.rs
  sk-cli/src/skel/tests/parser_test.rs
  sk-cli/src/transform.rs
Due: fmt, check-k8s

feat: internal metrics store for CLI
  Cargo.lock
  Cargo.toml
  sk-cli/Cargo.toml
  sk-cli/src/main.rs
  sk-cli/src/skel/engine.rs
  sk-cli/src/skel/mod.rs
  sk-cli/src/transform.rs
  sk-core/Cargo.toml
  sk-core/src/lib.rs
  sk-core/src/metrics.rs
  test.sktrace
Due: fmt, check-k8s

feat: progress bars and emojis for CLI
  Cargo.lock
  Cargo.toml
  sk-cli/Cargo.toml
  sk-cli/src/main.rs
  sk-cli/src/skel/mod.rs
  sk-cli/src/transform.rs
  sk-store/src/trace.rs
Due: fmt, check-k8s

more docs
  docs/infra/amis.md
  docs/infra/ci-sim.md
  docs/infra/evaluate.md
  docs/infra/github-runners.md
  docs/infra/overview.md
  docs/infra/run-sim.md
  docs/infra/troubleshooting.md
  docs/infra/usage.md
  docs/mkdocs.yml
  examples/aws/sk_iam_policy.json
Due: none

docs
  docs/infra/amis.md
  docs/infra/ci-sim.md
  docs/infra/evaluate.md
  docs/infra/github-runners.md
  docs/infra/overview.md
  docs/infra/run-sim.md
  docs/infra/troubleshooting.md
  docs/infra/usage.md
  docs/mkdocs.yml
Due: none

fix notes
  docs/components/sk-ctrl.md
  docs/infra/amis.md
  docs/infra/ci-sim.md
  docs/infra/overview.md
  docs/infra/run-sim.md
  docs/infra/usage.md
Due: none

fixes
  docs/infra/evaluate.md
  docs/infra/overview.md
  docs/mkdocs.yml
Due: none

updates from review
  docs/infra/amis.md
  docs/infra/ci-sim.md
  docs/infra/evaluate.md
  docs/infra/github-runners.md
  docs/infra/overview.md
  docs/infra/run-sim.md
  docs/infra/usage.md
  docs/mkdocs.yml
Due: none

edits
  docs/infra/amis.md
  docs/infra/ci-sim.md
  docs/infra/evaluate.md
  docs/infra/usage.md
Due: none
