Repository acrlabs/simkube: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, check-k8s, check-validation-readme

fmt:
  name: rust-fmt
  language: system
  entry: hack/fmt

check-k8s:
  name: Check Generated K8s YAML
  language: system
  entry: bash -c 'make kustomize && git diff --quiet'
  pass_filenames: false

check-validation-readme:
  name: Check Validation README
  language: system
  entry: bash -c 'make validation_rules && git diff --quiet'
  pass_filenames: false

edits
  docs/infra/evaluate.md
  docs/infra/run-sim.md
  docs/mkdocs.yml
Due: none

sidebar sizing
  docs/mkdocs.yml
Due: none

test nesting
  docs/mkdocs.yml
Due: none

undo, undo
  docs/mkdocs.yml
Due: none

remove heading
  docs/mkdocs.yml
Due: none

add iam example to ref
  docs/mkdocs.yml
  docs/ref/aws_iam_policy.md
Due: none

debug embed [no-ci]
  docs/ref/aws_iam_policy.md
Due: none

add link to ref
  docs/infra/usage.md
Due: none

typo
  docs/infra/usage.md
Due: none

docs: add AMIs section to documentation
  docs/components/sk-ctrl.md
  docs/infra/amis.md
  docs/infra/ci-sim.md
  docs/infra/evaluate.md
  docs/infra/github-runners.md
  docs/infra/overview.md
  docs/infra/run-sim.md
  docs/infra/troubleshooting.md
  docs/infra/usage.md
  docs/mkdocs.yml
  docs/ref/aws_iam_policy.md
  examples/aws/sk_iam_policy.json
Due: none

chore: add markdownlint pre-commit hook
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/planned-improvement.md
  .markdownlint.yaml
  .markdownlintignore
  .pre-commit-config.yaml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  docs/adv/metrics.md
  docs/components/sk-tracer.md
  docs/dev/contributing.md
  docs/dev/setup.md
  docs/infra/amis.md
  docs/infra/ci-sim.md
  docs/infra/evaluate.md
  docs/infra/github-runners.md
  docs/infra/overview.md
  docs/infra/run-sim.md
  docs/infra/usage.md
  docs/intro/installation.md
  docs/intro/running.md
  docs/ref/crds.md
  docs/ref/skel.md
  docs/ref/trace-files.md
  docs/skel/usage.md
Due: none

chore: slight mdl fix
  .markdownlint.yaml
Due: none

refactor: swap MemoryRecorder for BlackboxRecorder
  Cargo.lock
  Cargo.toml
  sk-cli/Cargo.toml
  sk-cli/src/main.rs
  sk-cli/src/transform.rs
  sk-core/Cargo.toml
  sk-core/src/lib.rs
  sk-core/src/metrics.rs
Due: fmt, check-k8s

fix: SKEL example
  examples/sanitize.skel
Due: none

chore: fix formatting
  sk-cli/src/main.rs
  sk-cli/src/transform.rs
  sk-core/src/lib.rs
Due: fmt

fix: set recorder
  sk-cli/src/main.rs
Due: fmt

refactor: swap MemoryRecorder for BlackboxRecorder
  Cargo.lock
  sk-cli/Cargo.toml
  sk-cli/src/main.rs
  sk-cli/src/transform.rs
  sk-core/Cargo.toml
  sk-core/src/lib.rs
  sk-core/src/metrics.rs
Due: fmt, check-k8s

chore: update rust version to 1.93, update deps
  .github/actions/setup-builder/action.yml
  .github/workflows/verify.yml
  Cargo.lock
  Cargo.toml
  Makefile
  docs/dev/setup.md
  docs/intro/installation.md
  k8s/kustomize/sim/simkube.io_simulations.yml
  k8s/raw/simkube.io_simulations.yml
Due: check-k8s

build: remind users to check out build submodule
  Makefile
Due: none

feat: dereference variables in SKEL
  .github/workflows/verify.yml
  Cargo.lock
  docs/skel/usage.md
  examples/sanitize.skel
  sk-cli/Cargo.toml
  sk-cli/src/skel/ast.rs
  sk-cli/src/skel/context.rs
  sk-cli/src/skel/engine.rs
  sk-cli/src/skel/errors.rs
  sk-cli/src/skel/mod.rs
  sk-cli/src/skel/skel.pest
  sk-cli/src/skel/tests/ast_test.rs
  sk-cli/src/skel/tests/engine_test.rs
  sk-cli/src/skel/tests/itest.rs
  sk-cli/src/skel/tests/parser_test.rs
Due: fmt, check-k8s

feat: modify command in SKEL
  Cargo.lock
  Cargo.toml
  docs/ref/skel.md
  docs/skel/usage.md
  sk-cli/src/skel/ast.rs
  sk-cli/src/skel/context.rs
  sk-cli/src/skel/engine.rs
  sk-cli/src/skel/errors.rs
  sk-cli/src/skel/mod.rs
  sk-cli/src/skel/skel.pest
  sk-cli/src/skel/tests/ast_test.rs
  sk-cli/src/skel/tests/engine_test.rs
  sk-cli/src/skel/tests/itest.rs
  sk-cli/src/skel/tests/parser_test.rs
  sk-cli/src/transform.rs
Due: fmt, check-k8s

remove regex for perf reasons, testing
  sk-cli/src/skel/engine.rs
Due: fmt

set the image directly instead of relying on default make target
  .github/workflows/simkube_e2e.yml
Due: none

Revert "build(deps): bump deepdiff in /k8s in the pip group across 1 directory"
  k8s/poetry.lock
Due: check-k8s

add keep-alive
  .github/workflows/simkube_e2e.yml
Due: none

check driver and ctrl pods
  .github/workflows/simkube_e2e.yml
Due: none

verify step typos
  .github/workflows/simkube_e2e.yml
Due: none

set x for debug
  .github/workflows/simkube_e2e.yml
Due: none

remove driver check
  .github/workflows/simkube_e2e.yml
Due: none

use local driver image
  .github/workflows/simkube_e2e.yml
Due: none

remove keep alive
  .github/workflows/simkube_e2e.yml
Due: none

add phase selector to pods, remove unecessary steps
  .github/workflows/simkube_e2e.yml
Due: none

remove set x
  .github/workflows/simkube_e2e.yml
Due: none

Path conditions:
  fmt: any of: \.rs
  check-k8s: any of: sk-api/.*|k8s/.*|Cargo.toml
  check-validation-readme: any of: sk-cli/src/validation/.*
