Repository acrlabs/simkube: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, check-k8s, check-validation-readme

fmt:
  name: rust-fmt
  language: system
  entry: hack/fmt

check-k8s:
  name: Check Generated K8s YAML
  language: system
  entry: bash -c 'make kustomize && git diff --quiet'
  pass_filenames: false

check-validation-readme:
  name: Check Validation README
  language: system
  entry: bash -c 'make validation_rules && git diff --quiet'
  pass_filenames: false

ci: update e2e to be more configurable, show output
  .github/workflows/simkube_e2e.yml
  scripts/e2e-get-driver-image.sh
  scripts/e2e-install-victorialogs-connector.sh
  scripts/e2e-local-registry-check.sh
  scripts/e2e-monitor.sh
Due: none

chore: remove .gitattributes, it wasn't doing anything useful
  .gitattributes
Due: none

ci: push built images to ECR in verify step, reuse in e2e
  .github/workflows/simkube_e2e.yml
  .github/workflows/verify.yml
  Makefile
  scripts/e2e-local-registry-check.sh
Due: none

ci: fix the simkube driver image step
  .github/workflows/simkube_e2e.yml
Due: none

ci: update the simkube AMI id
  .github/workflows/simkube_e2e.yml
Due: none

ci: use built skctl in e2e runner; fix e2e input selector; disable approver gate
  .github/workflows/simkube_e2e.yml
  output.sktrace
Due: none

fix: assign GVK in owners cache lookups
  sk-core/src/k8s/owners.rs
Due: fmt, check-k8s

fix: correctly read skel file location
  sk-skel/src/lib.rs
Due: fmt

feat: configure tracer metrics collection
  output.sktrace
  sk-cli/src/validation/rules/tests/mod.rs
  sk-core/src/trace/config.rs
  sk-core/src/trace/pod_sim_data.rs
  sk-driver/src/runner.rs
  sk-tracer/src/owners_index.rs
  sk-tracer/src/tests/trace_store_test.rs
Due: fmt, check-validation-readme

feat: tracer metrics collection config and schema
  output.sktrace
  sk-cli/src/validation/rules/tests/mod.rs
  sk-core/src/trace/config.rs
  sk-core/src/trace/pod_sim_data.rs
  sk-driver/src/runner.rs
  sk-tracer/src/owners_index.rs
  sk-tracer/src/tests/trace_store_test.rs
Due: fmt, check-validation-readme

fix: serialization for metrics
  sk-core/src/trace/pod_sim_data.rs
Due: fmt

feat: scrape cadvisor metrics
  Cargo.lock
  Cargo.toml
  Makefile
  k8s/kustomize/prod/sk-tracer-rbac.yml
  k8s/raw/sk-tracer-rbac.yml
  sk-core/src/constants.rs
  sk-core/src/k8s/mod.rs
  sk-core/src/k8s/node.rs
  sk-core/src/trace/config.rs
  sk-driver/src/tests/mutation_test.rs
  sk-tracer/Cargo.toml
  sk-tracer/src/main.rs
  sk-tracer/src/manager.rs
  sk-tracer/src/metrics/collector.rs
  sk-tracer/src/metrics/mod.rs
  sk-tracer/src/metrics/scraper.rs
  sk-tracer/src/metrics/tests/collector_test.rs
  sk-tracer/src/metrics/tests/mod.rs
  sk-tracer/src/metrics/tests/scraper_test.rs
  sk-tracer/src/store.rs
  sk-tracer/src/tests/import_export_test.rs
  sk-tracer/src/tests/manager_test.rs
  sk-tracer/src/watchers/mod.rs
  sk-tracer/src/watchers/tests/dyn_obj_watcher_test.rs
  testutils/src/constants.rs
  testutils/src/lib.rs
  testutils/src/nodes.rs
Due: fmt, check-k8s

feat: add 'enabled' field to the metrics config
  sk-core/src/trace/config.rs
  sk-tracer/src/manager.rs
  sk-tracer/src/tests/manager_test.rs
Due: fmt

fix: add jitter delay before starting scrapers
  Cargo.lock
  Cargo.toml
  sk-tracer/Cargo.toml
  sk-tracer/src/metrics/collector.rs
  sk-tracer/src/metrics/mod.rs
  sk-tracer/src/metrics/scraper.rs
  sk-tracer/src/metrics/tests/collector_test.rs
  sk-tracer/src/metrics/tests/scraper_test.rs
Due: fmt, check-k8s

feat: write utilization metrics into trace store
  sk-core/src/trace/mod.rs
  sk-core/src/trace/pod_sim_data.rs
  sk-driver/src/tests/mutation_test.rs
  sk-driver/src/tests/snapshots/sk_driver__tests__mutation_test__itest__mutation_handler_create@false.snap
  sk-driver/src/tests/snapshots/sk_driver__tests__mutation_test__itest__mutation_handler_create@true.snap
  sk-tracer/src/manager.rs
  sk-tracer/src/owners_index.rs
  sk-tracer/src/store.rs
  sk-tracer/src/tests/trace_store_test.rs
  testutils/src/pods.rs
Due: fmt

Path conditions:
  fmt: any of: \.rs
  check-k8s: any of: sk-api/.*|k8s/.*|Cargo.toml
  check-validation-readme: any of: sk-cli/src/validation/.*
