Repository acrlabs/simkube: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, check-k8s, check-validation-readme

fmt:
  name: rust-fmt
  language: system
  entry: hack/fmt

check-k8s:
  name: Check Generated K8s YAML
  language: system
  entry: bash -c 'make kustomize && git diff --quiet'
  pass_filenames: false

check-validation-readme:
  name: Check Validation README
  language: system
  entry: bash -c 'make validation_rules && git diff --quiet'
  pass_filenames: false

fix hooks example
  docs/adv/hooks.md
Due: none

use extra imports
  docs/adv/hooks.md
Due: none

debug import location
  docs/adv/hooks.md
Due: none

use temp-dir location
  docs/adv/hooks.md
Due: none

chore: add default PodSpecTemplatePaths for Pods
  docs/adv/config.md
  docs/adv/hooks.md
  docs/components/sk-tracer.md
  docs/intro/running.md
  docs/ref/tracer-config.md
  sk-core/src/config.rs
  sk-core/src/constants.rs
Due: fmt

feat: delete command for SKEL
  docs/ref/skel.md
  sk-cli/src/skel/ast.rs
  sk-cli/src/skel/engine.rs
  sk-cli/src/skel/mod.rs
  sk-cli/src/skel/skel.pest
  sk-cli/src/skel/tests/ast_test.rs
  sk-cli/src/skel/tests/engine_test.rs
  sk-cli/src/skel/tests/itest.rs
  sk-cli/src/skel/tests/parser_test.rs
Due: fmt

chore: remove related links from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: drop nodeName field for tracked pod objects
  sk-core/src/k8s/tests/util_test.rs
  sk-core/src/k8s/util.rs
  sk-store/src/watchers/dyn_obj_watcher.rs
Due: fmt, check-k8s

fix: set bare pod metadata correctly, and set sim name label correctly
  sk-core/src/config.rs
  sk-core/src/constants.rs
  sk-driver/src/mutation.rs
  sk-driver/src/runner.rs
  sk-driver/src/tests/runner_test.rs
  sk-driver/src/tests/snapshots/sk_driver__tests__mutation_test__itest__mutate_pod@false.snap
  sk-driver/src/tests/snapshots/sk_driver__tests__mutation_test__itest__mutate_pod@true.snap
  testutils/src/pods.rs
Due: fmt

chore: update simkube e2e test for more logs
  .github/workflows/simkube_e2e.yml
Due: none

fix: truncate long labels
  sk-core/src/k8s/tests/util_test.rs
  sk-core/src/k8s/util.rs
  sk-core/src/macros.rs
Due: fmt, check-k8s

release: version v2.6.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  k8s/kustomize/prod/sk-tracer.yml
  k8s/kustomize/sim/sk-ctrl.yml
Due: check-k8s

fix: 2 security fixes
  sk-cli/src/skel/ast.rs
  sk-cli/src/skel/engine.rs
Due: fmt

chore: create sk-skel crate
  Cargo.lock
  Cargo.toml
  sk-cli/Cargo.toml
  sk-cli/src/main.rs
  sk-cli/src/transform.rs
  sk-skel/Cargo.toml
  sk-skel/src/ast.rs
  sk-skel/src/context.rs
  sk-skel/src/engine.rs
  sk-skel/src/errors.rs
  sk-skel/src/lib.rs
  sk-skel/src/skel.pest
  sk-skel/src/tests/ast_test.rs
  sk-skel/src/tests/engine_test.rs
  sk-skel/src/tests/itest.rs
  sk-skel/src/tests/mod.rs
  sk-skel/src/tests/parser_test.rs
Due: fmt, check-k8s

remove unecessary exports
  sk-skel/src/lib.rs
Due: fmt

description, toml format
  Cargo.toml
  sk-skel/Cargo.toml
Due: check-k8s

remove pub from tests mod
  sk-skel/src/lib.rs
Due: fmt

fix deps order
  sk-skel/Cargo.toml
Due: check-k8s

removed unused workspace deps
  Cargo.lock
  sk-core/Cargo.toml
  sk-driver/Cargo.toml
  sk-tracer/Cargo.toml
  testutils/Cargo.toml
Due: check-k8s

add pre-commit hook, ignore false positives
  .pre-commit-config.yaml
  sk-api/Cargo.toml
  sk-ctrl/Cargo.toml
  sk-driver/Cargo.toml
Due: check-k8s

chore: remove unused workspace dependencies
  .pre-commit-config.yaml
  Cargo.lock
  sk-api/Cargo.toml
  sk-core/Cargo.toml
  sk-ctrl/Cargo.toml
  sk-driver/Cargo.toml
  sk-tracer/Cargo.toml
  testutils/Cargo.toml
Due: check-k8s

chore: install victorialogs in e2e test
  .github/workflows/simkube_e2e.yml
  scripts/install_victorialogs_connector
Due: none

add transform flag
  sk-api/schema/v1/simkube.yml
  sk-api/src/v1/export_filters.rs
  sk-api/src/v1/export_request.rs
  sk-cli/src/export.rs
  sk-cli/src/snapshot.rs
  sk-store/src/store.rs
  sk-tracer/src/main.rs
Due: fmt, check-k8s

move TraceEvent, TraceAction to core
  sk-cli/src/validation/rules/missing_resources.rs
  sk-cli/src/validation/rules/status_field_populated.rs
  sk-cli/src/validation/rules/tests/missing_resources_test.rs
  sk-cli/src/validation/rules/tests/status_field_populated_test.rs
  sk-cli/src/validation/tests/mod.rs
  sk-cli/src/validation/validator.rs
  sk-cli/src/xray/tests/app_test.rs
  sk-cli/src/xray/view/helpers.rs
  sk-core/src/event.rs
  sk-core/src/lib.rs
  sk-driver/src/tests/helpers.rs
  sk-skel/src/engine.rs
  sk-skel/src/lib.rs
  sk-skel/src/tests/engine_test.rs
  sk-skel/src/tests/itest.rs
  sk-store/src/event.rs
  sk-store/src/lib.rs
  sk-store/src/manager.rs
  sk-store/src/store.rs
  sk-store/src/tests/exported_trace_test.rs
  sk-store/src/tests/import_export_test.rs
  sk-store/src/tests/trace_store_test.rs
  sk-store/src/trace.rs
  sk-store/src/watchers/dyn_obj_watcher.rs
  sk-tracer/src/tests/tracer_test.rs
Due: fmt, check-validation-readme

move process_trace to sk-store
  Cargo.lock
  sk-cli/src/transform.rs
  sk-skel/Cargo.toml
  sk-skel/src/ast.rs
  sk-skel/src/engine.rs
  sk-skel/src/lib.rs
  sk-skel/src/tests/ast_test.rs
  sk-skel/src/tests/mod.rs
  sk-store/Cargo.toml
  sk-store/src/lib.rs
  sk-store/src/process.rs
  sk-store/src/tests/itest.rs
  sk-store/src/tests/mod.rs
Due: fmt, check-k8s

WARN if delete ineffective
  sk-driver/src/runner.rs
Due: fmt

narrow scope to 404s
  sk-driver/src/runner.rs
Due: fmt

add delete obj not found case to test_driver_run
  sk-driver/src/tests/runner_test.rs
Due: fmt

rename test case
  sk-driver/src/tests/runner_test.rs
Due: fmt

fix: prevent driver panic on failed deletes
  sk-driver/src/runner.rs
  sk-driver/src/tests/runner_test.rs
Due: fmt

add transform to export, use apply_skel everywhere
  first.sktrace
  no_skel.sktrace
  sk-api/schema/v1/simkube.yml
  sk-cli/src/export.rs
  sk-cli/src/transform.rs
  sk-store/src/process.rs
  sk-store/src/store.rs
  skel.sktrace
  test.skel
Due: fmt, check-k8s

remove comment
  sk-cli/src/snapshot.rs
Due: fmt

remove test files
  no_skel.sktrace
  skel.sktrace
  test.skel
Due: none

review comments
  sk-cli/src/export.rs
  sk-cli/src/transform.rs
  sk-store/src/lib.rs
  sk-store/src/store.rs
  sk-store/src/tests/itest.rs
  sk-store/src/transform.rs
Due: fmt

Path conditions:
  fmt: any of: \.rs
  check-k8s: any of: sk-api/.*|k8s/.*|Cargo.toml
  check-validation-readme: any of: sk-cli/src/validation/.*
