Repository acrlabs/simkube: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, check-k8s, check-validation-readme

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: python-path
        name: check python path
        language: system
        entry: bash -c "which python || which python3"
        always_run: true
        exclude: ".*"
        verbose: true
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: "https://github.com/adrienverge/yamllint"
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['--strict']
        exclude: "config/metrics"
  - repo: "https://github.com/doublify/pre-commit-rust"
    rev: v1.0
    hooks:
      - id: clippy
        args:
          - --target-dir
          - /tmp/cargo
          - --
          - -Dwarnings
          - -Aclippy::new_without_default
  - repo: local
    hooks:
      - id: fmt
        name: rust-fmt
        language: system
        entry: hack/fmt
        files: \.rs
  - repo: "https://github.com/pre-commit/mirrors-mypy"
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: "https://github.com/astral-sh/ruff-pre-commit"
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: "https://github.com/EmbarkStudios/cargo-deny"
    rev: 0.18.5
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "licenses"]
  - repo: local
    hooks:
      - id: check-k8s
        name: Check Generated K8s YAML
        language: system
        entry: bash -c 'make kustomize && git diff --quiet'
        pass_filenames: false
        files: "sk-api/.*|k8s/.*|Cargo.toml"
      - id: check-validation-readme
        name: Check Validation README
        language: system
        entry: bash -c 'make validation_rules && git diff --quiet'
        pass_filenames: false
        files: "sk-cli/src/validation/.*"

trace_test rename, import constants::*
  sk-core/src/trace/mod.rs
  sk-core/src/trace/tests/mod.rs
  sk-core/src/trace/tests/trace_test.rs
Due: fmt

use latest sk gh action runner ami
  .github/workflows/simkube_e2e.yml
Due: none

reorganize
  Cargo.lock
  sk-cli/Cargo.toml
  sk-core/src/trace/event.rs
  sk-tracer/src/export.rs
  sk-tracer/src/lib.rs
  sk-tracer/src/main.rs
  sk-tracer/src/store.rs
  sk-tracer/src/watchers/tests/snapshots/sk_store__watchers__tests__dyn_obj_watcher_test__itest__dyn_obj_watcher_sanitize_pod_obj.snap
  sk-tracer/src/watchers/tests/snapshots/sk_tracer__watchers__tests__dyn_obj_watcher_test__itest__dyn_obj_watcher_sanitize_pod_obj-2.snap.new
  sk-tracer/src/watchers/tests/snapshots/sk_tracer__watchers__tests__dyn_obj_watcher_test__itest__dyn_obj_watcher_sanitize_pod_obj.snap.new
Due: fmt, check-k8s

make methods public in pod_owners_map, update snapshots
  sk-core/src/trace/pod_owners_map.rs
  sk-tracer/src/watchers/tests/snapshots/sk_store__watchers__tests__dyn_obj_watcher_test__itest__dyn_obj_watcher_sanitize_pod_obj.snap
  sk-tracer/src/watchers/tests/snapshots/sk_tracer__watchers__tests__dyn_obj_watcher_test__itest__dyn_obj_watcher_sanitize_pod_obj-2.snap.new
  sk-tracer/src/watchers/tests/snapshots/sk_tracer__watchers__tests__dyn_obj_watcher_test__itest__dyn_obj_watcher_sanitize_pod_obj.snap.new
Due: fmt

remove sk-core helpers from sk-tracer tests
  sk-core/src/trace/pod_owners_map.rs
  sk-tracer/src/watchers/dyn_obj_watcher.rs
  sk-tracer/src/watchers/mod.rs
Due: fmt

add coverage_attribute
  sk-tracer/src/lib.rs
Due: fmt

filter in collect events, clean up test files
  no_skel.sktrace
  sk-api/schema/v1/simkube.yml
  sk-cli/src/export.rs
  sk-skel/src/engine.rs
  sk-skel/src/lib.rs
  sk-tracer/src/store.rs
  sk-tracer/src/tests/trace_store_test.rs
  skel.sktrace
  test.skel
Due: fmt, check-k8s

delete test files
  first.sktrace
  helper.txt
Due: none

add transform export
  Cargo.lock
  first.sktrace
  helper.txt
  no_skel.sktrace
  sk-api/schema/v1/simkube.yml
  sk-api/src/v1/export_filters.rs
  sk-api/src/v1/export_request.rs
  sk-cli/src/export.rs
  sk-cli/src/transform.rs
  sk-skel/src/lib.rs
  sk-tracer/Cargo.toml
  sk-tracer/src/export.rs
  sk-tracer/src/lib.rs
  sk-tracer/src/store.rs
  sk-tracer/src/tests/tracer_test.rs
  skel.sktrace
  test.skel
Due: fmt, check-k8s

fixing merge issues
  Cargo.lock
  sk-cli/Cargo.toml
  sk-skel/src/lib.rs
  sk-tracer/src/export.rs
  sk-tracer/src/lib.rs
  sk-tracer/src/main.rs
  sk-tracer/src/store.rs
  sk-tracer/src/tests/import_export_test.rs
  sk-tracer/src/tests/tracer_test.rs
  sk-tracer/src/watchers/dyn_obj_watcher.rs
  sk-tracer/src/watchers/mod.rs
Due: fmt, check-k8s

chore: bump simkube github action runner ami id
  .github/workflows/simkube_e2e.yml
Due: none

use assert_not_contains
  sk-tracer/src/tests/trace_store_test.rs
Due: fmt

fix order in sk-tracer main.rs
  sk-tracer/src/main.rs
Due: fmt

remove commented out code
  sk-tracer/src/store.rs
Due: fmt

remove redundant imports
  sk-tracer/src/tests/import_export_test.rs
Due: fmt

feat: add SKEL transform option to skctl export
  Cargo.lock
  sk-api/schema/v1/simkube.yml
  sk-api/src/v1/export_filters.rs
  sk-api/src/v1/export_request.rs
  sk-cli/src/export.rs
  sk-cli/src/transform.rs
  sk-core/src/trace/event.rs
  sk-skel/src/engine.rs
  sk-skel/src/lib.rs
  sk-tracer/Cargo.toml
  sk-tracer/src/main.rs
  sk-tracer/src/store.rs
  sk-tracer/src/tests/import_export_test.rs
  sk-tracer/src/tests/trace_store_test.rs
  sk-tracer/src/tests/tracer_test.rs
Due: fmt, check-k8s

reorganize
  Cargo.lock
  sk-cli/Cargo.toml
  sk-tracer/src/export.rs
  sk-tracer/src/lib.rs
  sk-tracer/src/main.rs
  sk-tracer/src/store.rs
  sk-tracer/src/watchers/tests/snapshots/sk_store__watchers__tests__dyn_obj_watcher_test__itest__dyn_obj_watcher_sanitize_pod_obj.snap
  sk-tracer/src/watchers/tests/snapshots/sk_tracer__watchers__tests__dyn_obj_watcher_test__itest__dyn_obj_watcher_sanitize_pod_obj-2.snap.new
  sk-tracer/src/watchers/tests/snapshots/sk_tracer__watchers__tests__dyn_obj_watcher_test__itest__dyn_obj_watcher_sanitize_pod_obj.snap.new
Due: fmt, check-k8s

add transform export
  sk-tracer/src/export.rs
  sk-tracer/src/lib.rs
  sk-tracer/src/store.rs
  sk-tracer/src/tests/tracer_test.rs
Due: fmt

fixing merge issues
  Cargo.lock
  sk-cli/Cargo.toml
  sk-tracer/src/export.rs
  sk-tracer/src/lib.rs
  sk-tracer/src/main.rs
  sk-tracer/src/store.rs
  sk-tracer/src/tests/import_export_test.rs
  sk-tracer/src/tests/tracer_test.rs
  sk-tracer/src/watchers/dyn_obj_watcher.rs
  sk-tracer/src/watchers/mod.rs
Due: fmt, check-k8s

avoid super::* outside tests
  sk-core/src/k8s/container_state.rs
  sk-core/src/k8s/owners.rs
  sk-core/src/k8s/pod_ext.rs
  sk-core/src/k8s/pod_lifecycle.rs
  sk-core/src/k8s/util.rs
  sk-driver/src/runner.rs
Due: fmt, check-k8s

fix test imports
  sk-core/src/k8s/tests/lease_test.rs
  sk-core/src/k8s/tests/mod.rs
  sk-core/src/k8s/tests/util_test.rs
Due: fmt, check-k8s

prefer to avoid importing prelude::* within the same crate
  sk-core/src/events.rs
  sk-core/src/hooks.rs
  sk-core/src/k8s/container_state.rs
  sk-core/src/k8s/gvk.rs
  sk-core/src/k8s/lease.rs
  sk-core/src/k8s/mod.rs
  sk-core/src/k8s/owners.rs
  sk-core/src/k8s/pod_ext.rs
  sk-core/src/k8s/pod_lifecycle.rs
  sk-core/src/k8s/sim.rs
  sk-core/src/k8s/util.rs
Due: fmt, check-k8s

prefer important constants::*
  sk-core/src/trace/config.rs
  sk-core/src/trace/tests/pod_owners_map_test.rs
  sk-core/src/trace/tests/trace_test.rs
Due: fmt

filter in collect events, clean up test files
  sk-tracer/src/store.rs
Due: fmt

move constants, remove a missed crate::prelude
  sk-core/src/constants.rs
  sk-core/src/k8s/mod.rs
  sk-core/src/k8s/util.rs
Due: fmt, check-k8s

chore: minor style updates
  sk-core/src/constants.rs
  sk-core/src/events.rs
  sk-core/src/hooks.rs
  sk-core/src/k8s/container_state.rs
  sk-core/src/k8s/gvk.rs
  sk-core/src/k8s/lease.rs
  sk-core/src/k8s/mod.rs
  sk-core/src/k8s/owners.rs
  sk-core/src/k8s/pod_ext.rs
  sk-core/src/k8s/pod_lifecycle.rs
  sk-core/src/k8s/sim.rs
  sk-core/src/k8s/tests/lease_test.rs
  sk-core/src/k8s/tests/mod.rs
  sk-core/src/k8s/tests/util_test.rs
  sk-core/src/k8s/util.rs
  sk-core/src/trace/config.rs
  sk-core/src/trace/tests/pod_owners_map_test.rs
  sk-core/src/trace/tests/trace_test.rs
  sk-driver/src/runner.rs
Due: fmt, check-k8s

refactor!: remove index from trace
  sk-core/src/constants.rs
  sk-core/src/k8s/mod.rs
  sk-core/src/k8s/owners.rs
  sk-core/src/lib.rs
  sk-core/src/trace/index.rs
  sk-core/src/trace/mod.rs
  sk-core/src/trace/pod_owners_map.rs
  sk-core/src/trace/tests/pod_owners_map_test.rs
  sk-core/src/trace/tests/trace_test.rs
  sk-driver/src/tests/mutation_test.rs
  sk-skel/src/lib.rs
  sk-tracer/src/index.rs
  sk-tracer/src/main.rs
  sk-tracer/src/store.rs
  sk-tracer/src/tests/import_export_test.rs
  sk-tracer/src/tests/trace_store_test.rs
  testutils/data/large_trace.json
  testutils/data/trace.json
  testutils/data/validation_trace.json
Due: fmt, check-k8s

fix!: remove deprecated tracer config fields
  sk-core/src/trace/config.rs
  sk-driver/src/runner.rs
Due: fmt

refactor: replace (GVK, String) with KubeResourceId
  sk-cli/src/validation/rules/missing_resources.rs
  sk-cli/src/validation/rules/tests/mod.rs
  sk-core/src/constants.rs
  sk-core/src/events.rs
  sk-core/src/k8s/gvk.rs
  sk-core/src/k8s/mod.rs
  sk-core/src/k8s/owners.rs
  sk-core/src/k8s/pod_lifecycle.rs
  sk-core/src/k8s/resource.rs
  sk-core/src/k8s/tests/owners_test.rs
  sk-core/src/k8s/util.rs
  sk-core/src/lib.rs
  sk-core/src/trace/event.rs
  sk-core/src/trace/index.rs
  sk-core/src/trace/mod.rs
  sk-core/src/trace/pod_owners_map.rs
  sk-core/src/trace/tests/pod_owners_map_test.rs
  sk-core/src/trace/tests/trace_test.rs
  sk-driver/src/mutation.rs
  sk-driver/src/runner.rs
  sk-driver/src/tests/mutation_test.rs
  sk-tracer/src/store.rs
  sk-tracer/src/tests/import_export_test.rs
  sk-tracer/src/tests/trace_store_test.rs
  sk-tracer/src/watchers/dyn_obj_watcher.rs
  sk-tracer/src/watchers/mod.rs
Due: fmt, check-k8s, check-validation-readme

refactor: create kannot macros
  sk-cli/src/run.rs
  sk-core/src/macros.rs
  sk-ctrl/src/tests/objects_test.rs
  sk-driver/src/mutation.rs
  sk-driver/src/runner.rs
  sk-driver/src/tests/mutation_test.rs
  sk-tracer/src/tests/import_export_test.rs
Due: fmt
