Repository acrlabs/simkube: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, check-k8s, check-validation-readme

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: python-path
        name: check python path
        language: system
        entry: bash -c "which python || which python3"
        always_run: true
        exclude: ".*"
        verbose: true
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: "https://github.com/adrienverge/yamllint"
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['--strict']
        exclude: "config/metrics"
  - repo: "https://github.com/doublify/pre-commit-rust"
    rev: v1.0
    hooks:
      - id: clippy
        args:
          - --target-dir
          - /tmp/cargo
          - --
          - -Dwarnings
          - -Aclippy::new_without_default
  - repo: local
    hooks:
      - id: fmt
        name: rust-fmt
        language: system
        entry: hack/fmt
        files: \.rs
  - repo: "https://github.com/pre-commit/mirrors-mypy"
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: "https://github.com/astral-sh/ruff-pre-commit"
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: "https://github.com/EmbarkStudios/cargo-deny"
    rev: 0.18.5
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "licenses"]
  - repo: local
    hooks:
      - id: check-k8s
        name: Check Generated K8s YAML
        language: system
        entry: bash -c 'make kustomize && git diff --quiet'
        pass_filenames: false
        files: "sk-api/.*|k8s/.*|Cargo.toml"
      - id: check-validation-readme
        name: Check Validation README
        language: system
        entry: bash -c 'make validation_rules && git diff --quiet'
        pass_filenames: false
        files: "sk-cli/src/validation/.*"

bug(ci): fix race condition in E2E test
  .github/workflows/simkube_e2e.yml
Due: none

feat: add list and info commands to skctl CLI
  sk-cli/src/info.rs
  sk-cli/src/list.rs
  sk-ctrl/src/main.rs
Due: fmt

add list and info details in main.rs
  sk-cli/src/main.rs
  sk-ctrl/src/main.rs
Due: fmt

remove formatting changes
  sk-cli/src/main.rs
  sk-ctrl/src/main.rs
Due: fmt

chore: add zizmor
  .config/zizmor.yml
  .github/actions/setup-builder/action.yml
  .github/workflows/k8s_plan.yml
  .github/workflows/pr_comment_finished.yml
  .github/workflows/pr_comment_starting.yml
  .github/workflows/publish_docs.yml
  .github/workflows/release.yml
  .github/workflows/simkube_e2e.yml
  .github/workflows/verify.yml
  .pre-commit-config.yaml
Due: none

docs: update mascot, fix some markdown formatting
  README.md
  docs/adv/config.md
  docs/images/Mascot_purple.png
  docs/images/Mascot_purple.svg
  docs/images/mascot-2024.png
  docs/images/mascot-2024.svg
  docs/ref/crds.md
  docs/ref/skel.md
Due: none

docs: update some readme links
  README.md
Due: none

chore: don't run e2e on docs-only updates
  .github/workflows/simkube_e2e.yml
Due: none

chore: add other things to e2e ignore
  .github/workflows/simkube_e2e.yml
  test.sktrace
Due: none

deprecation: skctl validate --fix
  sk-cli/src/main.rs
  sk-cli/src/validation/annotated_trace.rs
  sk-cli/src/validation/mod.rs
  sk-cli/src/validation/rules/missing_resources.rs
  sk-cli/src/validation/rules/status_field_populated.rs
  sk-cli/src/validation/rules/tests/missing_resources_test.rs
  sk-cli/src/validation/rules/tests/mod.rs
  sk-cli/src/validation/rules/tests/snapshots/skctl__validation__rules__tests__validate_all_test__itest__validate_all_rules.snap
  sk-cli/src/validation/rules/tests/status_field_populated_test.rs
  sk-cli/src/validation/rules/tests/validate_all_test.rs
  sk-cli/src/validation/summary.rs
  sk-cli/src/validation/tests/annotated_trace_test.rs
  sk-cli/src/validation/tests/mod.rs
  sk-cli/src/validation/tests/validation_store_test.rs
  sk-cli/src/validation/validation_store.rs
  sk-cli/src/validation/validator.rs
  sk-cli/src/xray/app.rs
  sk-cli/src/xray/mod.rs
  sk-cli/src/xray/tests/app_test.rs
  sk-cli/src/xray/view/helpers.rs
  sk-cli/src/xray/view/mod.rs
  sk-cli/src/xray/view/tests/snapshots/skctl__xray__view__tests__view_test__itest__render_event_list_object_selected.snap
  sk-cli/src/xray/view/tests/view_test.rs
  sk-store/src/trace.rs
Due: fmt, check-validation-readme

release: version v2.5.0
  .config/cliff.toml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  k8s/kustomize/prod/sk-tracer.yml
  k8s/kustomize/sim/sk-ctrl.yml
Due: check-k8s

normalize TracerConfig.tracked_objects.pod_spec_template_paths
  sk-store/src/config.rs
  sk-store/src/errors.rs
  sk-store/src/lib.rs
  sk-tracer/src/errors.rs
  sk-tracer/src/main.rs
Due: fmt

update trace files, add snapshot normalization, fix CronJob bug
  config/tracer-config.yml
  examples/traces/cronjob.sktrace
  sk-cli/src/snapshot.rs
  sk-store/src/config.rs
Due: fmt

fix typo in test_normalize
  sk-store/src/config.rs
Due: fmt

lints
  k8s/kustomize/prod/sk-tracer.yml
  k8s/kustomize/sim/sk-ctrl.yml
Due: check-k8s

fix version
  k8s/kustomize/prod/sk-tracer.yml
  k8s/kustomize/sim/sk-ctrl.yml
Due: check-k8s

wip
  Cargo.lock
  Cargo.toml
  sk-cli/Cargo.toml
  sk-cli/src/validation/rules/tests/mod.rs
  sk-cli/src/xray/view/helpers.rs
  sk-core/Cargo.toml
  sk-core/src/constants.rs
  sk-driver/src/tests/mutation_test.rs
  sk-store/Cargo.toml
  sk-store/src/config.rs
  sk-store/src/tests/exported_trace_test.rs
  sk-store/src/tests/import_export_test.rs
  sk-store/src/tests/pod_owners_map_test.rs
  sk-store/src/tests/trace_store_test.rs
  sk-store/src/watchers/tests/mod.rs
  testutils/Cargo.toml
  testutils/src/constants.rs
  testutils/src/objs.rs
Due: fmt, check-k8s, check-validation-readme

refactor
  sk-core/src/constants.rs
  sk-store/src/config.rs
  sk-store/src/errors.rs
  sk-store/src/lib.rs
  sk-tracer/src/errors.rs
Due: fmt

refactor normalize
  sk-store/src/config.rs
Due: fmt

update maybe_default, tighten resolved_paths match
  sk-store/src/config.rs
Due: fmt

feat: add default podSpecTemplatePaths for known Kubernetes resources
  Cargo.lock
  Cargo.toml
  config/tracer-config.yml
  examples/traces/cronjob.sktrace
  k8s/kustomize/prod/sk-tracer.yml
  sk-cli/Cargo.toml
  sk-cli/src/snapshot.rs
  sk-cli/src/validation/rules/tests/mod.rs
  sk-cli/src/xray/view/helpers.rs
  sk-core/Cargo.toml
  sk-core/src/constants.rs
  sk-driver/src/tests/mutation_test.rs
  sk-store/Cargo.toml
  sk-store/src/config.rs
  sk-store/src/errors.rs
  sk-store/src/lib.rs
  sk-store/src/tests/exported_trace_test.rs
  sk-store/src/tests/import_export_test.rs
  sk-store/src/tests/pod_owners_map_test.rs
  sk-store/src/tests/trace_store_test.rs
  sk-store/src/watchers/tests/mod.rs
  sk-tracer/src/main.rs
  testutils/Cargo.toml
  testutils/src/constants.rs
  testutils/src/objs.rs
Due: fmt, check-k8s, check-validation-readme

post Kubernetes events for the simulation object
  Cargo.lock
  Cargo.toml
  k8s/kustomize/sim/simkube.io_simulations.yml
  k8s/kustomize/sim/sk-ctrl.yml
  k8s/raw/simkube.io_simulations.yml
  k8s/sk_ctrl.py
  sk-api/src/v1/simulations.rs
  sk-cli/Cargo.toml
  sk-cli/src/run.rs
  sk-core/Cargo.toml
  sk-core/src/constants.rs
  sk-core/src/events.rs
  sk-core/src/hooks.rs
  sk-core/src/lib.rs
  sk-ctrl/Cargo.toml
  sk-ctrl/src/cert_manager.rs
  sk-ctrl/src/context.rs
  sk-ctrl/src/controller.rs
  sk-ctrl/src/main.rs
  sk-ctrl/src/objects.rs
  sk-ctrl/src/tests/controller_test.rs
  sk-ctrl/src/tests/objects_test.rs
  sk-driver/src/main.rs
  sk-driver/src/tests/helpers.rs
  testutils/src/sim.rs
Due: fmt, check-k8s

keep alive
  .github/workflows/simkube_e2e.yml
Due: none

fix: support http-proxy feature in kubeconfig
  Cargo.toml
Due: check-k8s

fix: default exported trace saved to current dir
  sk-cli/src/export.rs
Due: fmt

feat: skip_owned flag for tracer config
  sk-cli/src/snapshot.rs
  sk-cli/src/validation/rules/missing_resources.rs
  sk-cli/src/validation/rules/status_field_populated.rs
  sk-cli/src/validation/rules/tests/missing_resources_test.rs
  sk-cli/src/validation/rules/tests/mod.rs
  sk-cli/src/validation/tests/mod.rs
  sk-cli/src/validation/validator.rs
  sk-core/src/config.rs
  sk-core/src/lib.rs
  sk-store/src/errors.rs
  sk-store/src/lib.rs
  sk-store/src/manager.rs
  sk-store/src/store.rs
  sk-store/src/tests/trace_store_test.rs
  sk-store/src/trace.rs
  sk-tracer/src/main.rs
  sk-tracer/src/tests/tracer_test.rs
Due: fmt, check-validation-readme

update build submodule, remove tomlq
  .github/workflows/verify.yml
Due: none

chore: update build submodule, remove tomlq
  .github/workflows/verify.yml
Due: none

add Pod default PodSpecTemplatePaths
  sk-core/src/constants.rs
Due: fmt

docs: update tracer-config reference
  docs/components/sk-tracer.md
  docs/mkdocs.yml
  docs/ref/tracer-config.md
Due: none

add pod test, update docs
  docs/adv/config.md
  docs/components/sk-tracer.md
  docs/intro/running.md
  sk-store/src/config.rs
Due: fmt

update link to tracer-config docs
  docs/adv/config.md
Due: none

roll back some bad lints
  docs/adv/config.md
  docs/components/sk-tracer.md
  docs/intro/running.md
  docs/ref/tracer-config.md
Due: none

fix: missed lints
  docs/components/sk-tracer.md
Due: none

fix examples/hooks location
  docs/adv/hooks.md
Due: none
