Repository acrlabs/simkube: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, check-k8s, check-validation-readme

fmt:
  name: rust-fmt
  language: system
  entry: hack/fmt

check-k8s:
  name: Check Generated K8s YAML
  language: system
  entry: bash -c 'make kustomize && git diff --quiet'
  pass_filenames: false

check-validation-readme:
  name: Check Validation README
  language: system
  entry: bash -c 'make validation_rules && git diff --quiet'
  pass_filenames: false

add transform flag
  sk-api/schema/v1/simkube.yml
  sk-api/src/v1/export_filters.rs
  sk-api/src/v1/export_request.rs
  sk-cli/src/export.rs
  sk-cli/src/snapshot.rs
  sk-store/src/store.rs
  sk-tracer/src/main.rs
Due: fmt, check-k8s

move TraceEvent, TraceAction to core
  sk-cli/src/validation/rules/missing_resources.rs
  sk-cli/src/validation/rules/status_field_populated.rs
  sk-cli/src/validation/rules/tests/missing_resources_test.rs
  sk-cli/src/validation/rules/tests/status_field_populated_test.rs
  sk-cli/src/validation/tests/mod.rs
  sk-cli/src/validation/validator.rs
  sk-cli/src/xray/tests/app_test.rs
  sk-cli/src/xray/view/helpers.rs
  sk-core/src/event.rs
  sk-core/src/lib.rs
  sk-driver/src/tests/helpers.rs
  sk-skel/src/engine.rs
  sk-skel/src/lib.rs
  sk-skel/src/tests/engine_test.rs
  sk-skel/src/tests/itest.rs
  sk-store/src/event.rs
  sk-store/src/lib.rs
  sk-store/src/manager.rs
  sk-store/src/store.rs
  sk-store/src/tests/exported_trace_test.rs
  sk-store/src/tests/import_export_test.rs
  sk-store/src/tests/trace_store_test.rs
  sk-store/src/trace.rs
  sk-store/src/watchers/dyn_obj_watcher.rs
  sk-tracer/src/tests/tracer_test.rs
Due: fmt, check-validation-readme

use process_event
  Cargo.lock
  sk-cli/src/transform.rs
  sk-cli/src/validation/mod.rs
  sk-cli/src/validation/validation_store.rs
  sk-cli/src/xray/app.rs
  sk-cli/src/xray/mod.rs
  sk-core/Cargo.toml
  sk-core/src/constants.rs
  sk-core/src/index.rs
  sk-core/src/lib.rs
  sk-core/src/pod_owners_map.rs
  sk-core/src/tests/exported_trace_test.rs
  sk-core/src/tests/mod.rs
  sk-core/src/tests/pod_owners_map_test.rs
  sk-core/src/trace.rs
  sk-driver/src/main.rs
  sk-skel/Cargo.toml
  sk-skel/src/engine.rs
  sk-skel/src/lib.rs
  sk-store/Cargo.toml
  sk-store/src/lib.rs
  sk-store/src/store.rs
  sk-store/src/tests/mod.rs
  sk-store/src/tests/trace_store_test.rs
  testutils/Cargo.toml
  testutils/src/traces.rs
Due: fmt, check-k8s, check-validation-readme

fix imports
  Cargo.lock
  sk-cli/src/xray/tests/app_test.rs
  sk-cli/src/xray/view/tests/view_test.rs
  sk-core/Cargo.toml
  sk-core/src/pod_owners_map.rs
  sk-core/src/tests/exported_trace_test.rs
  sk-core/src/tests/mod.rs
  sk-core/src/tests/pod_owners_map_test.rs
  sk-driver/Cargo.toml
  sk-driver/src/tests/mutation_test.rs
  sk-store/src/store.rs
  sk-store/src/tests/import_export_test.rs
Due: fmt, check-k8s

read in transform script
  sk-cli/src/export.rs
Due: fmt

clean up some TraceEvent references
  sk-api/schema/v1/simkube.yml
  sk-cli/src/snapshot.rs
  sk-cli/src/validation/rules/missing_resources.rs
  sk-cli/src/validation/rules/status_field_populated.rs
  sk-cli/src/validation/tests/mod.rs
  sk-cli/src/validation/validator.rs
  sk-cli/src/xray/view/helpers.rs
  sk-skel/src/tests/itest.rs
  sk-store/src/event.rs
Due: fmt, check-k8s, check-validation-readme

add a collect_events test with a skel transformation
  sk-store/Cargo.toml
  sk-store/src/tests/trace_store_test.rs
Due: fmt, check-k8s

fix: pod lifecycles for bare pods
  sk-core/src/k8s/pod_lifecycle.rs
  sk-core/src/k8s/tests/owners_test.rs
  sk-core/src/k8s/tests/util_test.rs
  sk-core/src/k8s/util.rs
  sk-driver/src/tests/snapshots/sk_driver__tests__mutation_test__itest__mutate_pod@false.snap
  sk-driver/src/tests/snapshots/sk_driver__tests__mutation_test__itest__mutate_pod@true.snap
  sk-store/src/pod_owners_map.rs
  sk-store/src/store.rs
  sk-store/src/tests/pod_owners_map_test.rs
  sk-store/src/tests/trace_store_test.rs
  sk-store/src/watchers/pod_watcher.rs
  testutils/src/pods.rs
Due: fmt, check-k8s

kwok stages: add pod-create, update pod-ready
  config/kwok/pod-create.yml
  config/kwok/pod-ready.yml
Due: none

fix: pod lifecycle annotations work for bare pods
  sk-core/src/config.rs
  sk-core/src/constants.rs
  sk-core/src/k8s/util.rs
  sk-ctrl/src/objects.rs
  sk-driver/src/mutation.rs
  sk-driver/src/tests/mutation_test.rs
  sk-store/src/store.rs
  sk-store/src/trace.rs
Due: fmt, check-k8s

release: version v2.6.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  k8s/kustomize/prod/sk-tracer.yml
  k8s/kustomize/sim/sk-ctrl.yml
Due: check-k8s

update selectors
  config/kwok/pod-create.yml
  config/kwok/pod-ready.yml
Due: none

set delays and jitter via skcli
  .config/.yamllint.yaml
  .pre-commit-config.yaml
  config/kwok/pod-create.yml
  config/kwok/pod-ready.yml
  k8s/kustomize/sim/simkube.io_simulations.yml
  k8s/raw/simkube.io_simulations.yml
  sk-api/src/v1/simulations.rs
  sk-cli/src/run.rs
  sk-core/src/constants.rs
  sk-driver/src/mutation.rs
  sk-driver/src/tests/snapshots/sk_driver__tests__mutation_test__itest__mutate_pod@false.snap
  sk-driver/src/tests/snapshots/sk_driver__tests__mutation_test__itest__mutate_pod@true.snap
Due: fmt, check-k8s

lints
  .config/.yamllint.yaml
  .github/workflows/k8s_plan.yml
  .github/workflows/pr_comment_finished.yml
  .github/workflows/pr_comment_starting.yml
  .github/workflows/publish_docs.yml
  .github/workflows/simkube_e2e.yml
  .github/workflows/verify.yml
  examples/hooks/hook.yml
  sk-api/schema/v1/simkube.yml
Due: check-k8s

annotations simkube.kwok.io -> simkube.io, update precommit
  .config/.yamllint
  .config/.yamllint.yaml
  .pre-commit-config.yaml
  config/kwok/pod-complete.yml
  config/kwok/pod-create.yml
  config/kwok/pod-ready.yml
  sk-core/src/constants.rs
Due: fmt

updated stage labels, add SimulationDelayParameters, add help subsection
  config/kwok/pod-complete.yml
  config/kwok/pod-create.yml
  config/kwok/pod-ready.yml
  k8s/kustomize/sim/simkube.io_simulations.yml
  k8s/raw/simkube.io_simulations.yml
  sk-api/src/v1/mod.rs
  sk-api/src/v1/simulations.rs
  sk-cli/src/run.rs
  sk-core/src/constants.rs
  sk-driver/src/mutation.rs
  sk-driver/src/tests/snapshots/sk_driver__tests__mutation_test__itest__mutate_pod@false.snap
  sk-driver/src/tests/snapshots/sk_driver__tests__mutation_test__itest__mutate_pod@true.snap
Due: fmt, check-k8s

lints for unquoted strings
  .github/workflows/pr_comment_finished.yml
  sk-api/schema/v1/simkube.yml
Due: check-k8s

bump codecov version
  .github/workflows/verify.yml
Due: none

renaming: lifecycle_params
  k8s/kustomize/sim/simkube.io_simulations.yml
  k8s/raw/simkube.io_simulations.yml
  sk-api/src/v1/mod.rs
  sk-api/src/v1/simulations.rs
  sk-cli/src/run.rs
  sk-driver/src/mutation.rs
Due: fmt, check-k8s

feat: update KWOK stages to include configurable delays
  .config/.yamllint
  .github/workflows/k8s_plan.yml
  .github/workflows/pr_comment_finished.yml
  .github/workflows/pr_comment_starting.yml
  .github/workflows/publish_docs.yml
  .github/workflows/simkube_e2e.yml
  .github/workflows/verify.yml
  .pre-commit-config.yaml
  config/kwok/pod-complete.yml
  config/kwok/pod-create.yml
  config/kwok/pod-ready.yml
  examples/hooks/hook.yml
  k8s/kustomize/sim/simkube.io_simulations.yml
  k8s/raw/simkube.io_simulations.yml
  sk-api/schema/v1/simkube.yml
  sk-api/src/v1/mod.rs
  sk-api/src/v1/simulations.rs
  sk-cli/src/run.rs
  sk-core/src/constants.rs
  sk-driver/src/mutation.rs
  sk-driver/src/tests/snapshots/sk_driver__tests__mutation_test__itest__mutate_pod@false.snap
  sk-driver/src/tests/snapshots/sk_driver__tests__mutation_test__itest__mutate_pod@true.snap
Due: fmt, check-k8s

ci: skip unavailable Codecov upload
  .github/workflows/verify.yml
Due: none

build: move image tooling into the repository
  Makefile
  make/image.mk
  scripts/image-tag
Due: none

build: support Podman as a container engine
  Makefile
  docs/dev/contributing.md
  docs/dev/setup.md
  make/image.mk
Due: none

build: separate image construction from registry pushes
  Makefile
  docs/dev/contributing.md
  docs/dev/setup.md
  make/image.mk
  scripts/oai/push-images
  scripts/push-images
Due: none

build: target AMD64 container images
  Makefile
  docs/dev/contributing.md
  docs/dev/setup.md
  images/debug/Dockerfile.sk-ctrl
  images/debug/Dockerfile.sk-driver
  images/release/Dockerfile.sk-ctrl
  images/release/Dockerfile.sk-driver
  make/image.mk
  scripts/build-in-docker
Due: none

simkube: Support driver pod workload identity
  docs/components/sk-ctrl.md
  docs/ref/crds.md
  k8s/kustomize/sim/simkube.io_simulations.yml
  k8s/raw/simkube.io_simulations.yml
  sk-api/src/v1/simulations.rs
  sk-cli/src/run.rs
  sk-ctrl/src/objects.rs
  sk-ctrl/src/tests/objects_test.rs
  testutils/src/sim.rs
Due: fmt, check-k8s

feat: reschedule interrupted bare pods
  Cargo.lock
  Cargo.toml
  docs/adv/bare-pods.md
  docs/mkdocs.yml
  examples/traces/bare-pods.sktrace
  k8s/kustomize/sim/simkube.io_simulations.yml
  k8s/raw/simkube.io_simulations.yml
  sk-api/src/v1/simulations.rs
  sk-cli/src/run.rs
  sk-core/src/constants.rs
  sk-core/src/k8s/mod.rs
  sk-core/src/k8s/tests/util_test.rs
  sk-core/src/k8s/util.rs
  sk-ctrl/src/controller.rs
  sk-ctrl/src/objects.rs
  sk-ctrl/src/tests/controller_test.rs
  sk-driver/Cargo.toml
  sk-driver/src/main.rs
  sk-driver/src/mutation.rs
  sk-driver/src/runner.rs
  sk-driver/src/tests/helpers.rs
  sk-driver/src/tests/mutation_test.rs
  sk-driver/src/tests/runner_test.rs
  sk-driver/src/tests/snapshots/sk_driver__tests__mutation_test__itest__mutation_handler_create@false.snap
  sk-driver/src/tests/snapshots/sk_driver__tests__mutation_test__itest__mutation_handler_create@true.snap
  sk-driver/src/tests/snapshots/sk_driver__tests__mutation_test__itest__mutation_handler_delete.snap
  sk-driver/src/tests/snapshots/sk_driver__tests__mutation_test__itest__mutation_handler_delete_client_error.snap
  sk-store/Cargo.toml
  sk-store/src/store.rs
  sk-store/src/watchers/dyn_obj_watcher.rs
  sk-store/src/watchers/mod.rs
  sk-store/src/watchers/tests/dyn_obj_watcher_test.rs
  sk-store/src/watchers/tests/mod.rs
  sk-store/src/watchers/tests/snapshots/sk_store__watchers__tests__dyn_obj_watcher_test__itest__dyn_obj_watcher_sanitize_pod_obj.snap
  testutils/src/fake.rs
  testutils/src/pods.rs
Due: fmt, check-k8s

release: version v2.7.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  k8s/kustomize/prod/sk-tracer.yml
  k8s/kustomize/sim/sk-ctrl.yml
Due: check-k8s

make methods public in pod_owners_map, update snapshots
  sk-core/src/pod_owners_map.rs
  sk-tracer/src/watchers/tests/snapshots/sk_store__watchers__tests__dyn_obj_watcher_test__itest__dyn_obj_watcher_sanitize_pod_obj.snap
  sk-tracer/src/watchers/tests/snapshots/sk_tracer__watchers__tests__dyn_obj_watcher_test__itest__dyn_obj_watcher_sanitize_pod_obj-2.snap
  sk-tracer/src/watchers/tests/snapshots/sk_tracer__watchers__tests__dyn_obj_watcher_test__itest__dyn_obj_watcher_sanitize_pod_obj.snap
Due: fmt

remove sk-core helpers from sk-tracer tests
  sk-core/src/pod_owners_map.rs
  sk-tracer/src/tests/trace_store_test.rs
  sk-tracer/src/watchers/dyn_obj_watcher.rs
  sk-tracer/src/watchers/mod.rs
Due: fmt

add coverage_attribute
  sk-tracer/src/lib.rs
Due: fmt

prog on comments
  Cargo.lock
  sk-cli/Cargo.toml
  sk-cli/src/main.rs
  sk-cli/src/snapshot.rs
  sk-core/Cargo.toml
  sk-core/src/event.rs
  sk-core/src/tests/exported_trace_test.rs
  sk-core/src/trace/mod.rs
  sk-core/src/trace/tests/exported_trace_test.rs
  sk-core/src/trace/tests/mod.rs
  sk-core/src/trace/tests/pod_owners_map_test.rs
  sk-tracer/Cargo.toml
  sk-tracer/src/export.rs
  sk-tracer/src/lib.rs
  sk-tracer/src/main.rs
  sk-tracer/src/manager.rs
  sk-tracer/src/tests/import_export_test.rs
  sk-tracer/src/tests/mod.rs
  sk-tracer/src/tests/trace_store_test.rs
  sk-tracer/src/watchers/dyn_obj_watcher.rs
  sk-tracer/src/watchers/mod.rs
Due: fmt, check-k8s

rename ExportedTrace to Trace
  sk-cli/src/transform.rs
  sk-cli/src/validation/mod.rs
  sk-cli/src/validation/tests/mod.rs
  sk-cli/src/validation/tests/validation_store_test.rs
  sk-cli/src/validation/validation_store.rs
  sk-cli/src/xray/app.rs
  sk-cli/src/xray/mod.rs
  sk-cli/src/xray/tests/app_test.rs
  sk-cli/src/xray/view/tests/view_test.rs
  sk-core/src/lib.rs
  sk-core/src/trace/mod.rs
  sk-core/src/trace/tests/exported_trace_test.rs
  sk-driver/src/main.rs
  sk-driver/src/tests/helpers.rs
  sk-driver/src/tests/mutation_test.rs
  sk-driver/src/tests/runner_test.rs
  sk-skel/src/lib.rs
  sk-skel/src/tests/itest.rs
  sk-tracer/src/store.rs
  sk-tracer/src/tests/import_export_test.rs
  testutils/src/traces.rs
Due: fmt, check-validation-readme

move event, index, pom, config into trace
  sk-core/src/lib.rs
  sk-core/src/trace/config.rs
  sk-core/src/trace/event.rs
  sk-core/src/trace/index.rs
  sk-core/src/trace/mod.rs
  sk-core/src/trace/pod_owners_map.rs
  sk-core/src/trace/tests/exported_trace_test.rs
  sk-core/src/trace/tests/mod.rs
  sk-core/src/trace/tests/pod_owners_map_test.rs
  sk-tracer/src/store.rs
  sk-tracer/src/tests/trace_store_test.rs
Due: fmt

comment for mock_pod_owners_map
  sk-tracer/src/tests/trace_store_test.rs
Due: fmt

remove snapshot from docs, remove unused import, add coverage attr to sk-tracer
  docs/components/skctl.md
  docs/intro/running.md
  sk-core/Cargo.toml
  sk-tracer/src/main.rs
Due: fmt, check-k8s

Path conditions:
  fmt: any of: \.rs
  check-k8s: any of: sk-api/.*|k8s/.*|Cargo.toml
  check-validation-readme: any of: sk-cli/src/validation/.*
